body{

font-family:Poppins,sans-serif;

background:#f5f5f5;

}

header{

background:#111;

color:white;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

}

header a{

color:white;

text-decoration:none;

}

.tabela{

max-width:1100px;

margin:50px auto;

padding:20px;

}

table{

width:100%;

border-collapse:collapse;

background:white;

box-shadow:0 0 15px rgba(0,0,0,.15);

}

th{

background:#d62828;

color:white;

padding:18px;

}

td{

padding:18px;

text-align:center;

border-bottom:1px solid #ddd;

}

tr:hover{

background:#f0f0f0;

}